@import url(https://fonts.googleapis.com/css?family=Pacifico|PT+Sans);
body {
  background-color: #ffffff;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

.content {
  margin-left: 2%;
  font-family: 'PT Sans', sans-serif;
  /* Media Queries */
}
.content header {
  width: 100%;
}
.content header nav.main-nav {
  float: right;
  font-weight: 600;
  margin: 2em;
}
.content header nav.main-nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.content header nav.main-nav ul li:first-child {
  margin-left: 0;
}
.content header nav.main-nav ul li {
  display: inline;
  margin-left: 1em;
}
.content header h1 {
  font-family: 'Pacifico', cursive;
  font-size: 3em;
  color: red;
  float: left;
  clear: both;
  margin: -75px 0 0 0;
}
.content header .tagline {
  font-size: 1.2em;
  font-weight: 600;
  float: left;
  clear: both;
  margin: 0 0 25px 0;
}
.content .products {
  clear: both;
  display: flex;
  flex-wrap: wrap;
}
.content .product {
  flex-basis: 22%;
  border: 1px dashed #ccc;
  padding: 2%;
  flex-grow:1;
}
.content .featured{
  order: -1;
  flex-basis: 40%;
}

.content .product:last-child{
  flex-grow: 2;
}
.content .product .product-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.content .product .product-details h2 {
  font-size: 1.2em;
}
.content .product .product-details img {
  max-width: 100%;
}
.content .product .product-details .price {
  font-size: 1.2em;
  font-weight: 600;
}
.content .product .product-details p {
  font-size: 1em;
}
.content .product .product-details button {
  align-self: stretch;
  margin: 1em;
  background-color: #333333;
  border: 1px solid #ddd;
  padding: 5%;
  color: #fff;
}

.content .featured .product-details button{
  align-self: center;
}
.content .product .product-details button:hover {
  background-color: #000000;
}

@media only screen and (max-width: 800px) {
  .content {
    text-align: center;
  }
  .content header h1 {
    float: none;
    margin-top: 0;
  }
  .content header .tagline {
    float: none;
  }
  .content header nav.main-nav {
    float: none;
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 690px) {
  .content .product {
    flex-basis: 44%;
  }
}
@media only screen and (max-width: 480px) {
  .content {
    text-align: center;
  }
  .content header h1 {
    font-size: 2.3em;
  }
}
@media only screen and (max-width: 370px) {
  .content {
    margin-left: 0;
  }
  .content header nav.main-nav {
    font-size: 0.8em;
  }
  .content .product {
    flex-basis: 90%;
    margin: 0 auto;
  }
}
